<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../style/css/reset.css" />
		<link rel="stylesheet" href="../style/css/home.css" />
		<script type="text/javascript" src="../script/use/vue.min.js" ></script>
	</head>
	<body>
		<div class="main">
			<div v-for="item in commodity" class="main-commodity-pic" v-on:mouseover="toggleModal(item)" v-on:mouseout="item.seen=true">
				<img v-bind:src="item.imgurl"/>
				<div class="main-commodity-pic-shadow"  v-bind:class="{hidden:item.seen}">
					<p class="main-commodity-name">Bow earrings</p>
					<p class="main-commodity-price">$36.6</p>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="../script/home.js" ></script>
	</body>
</html>
